.border {
    height: fit-content;
    width: 1564px;
    border: 2px solid black;
    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

footer,
header {
    height: 70px;
    border: solid;
    text-align: center;
    border-width: 2px;
    margin: 20px;
    padding: 10px;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 67%;
    background-position: 275px 31px;
    background-color: rgba(252, 255, 82, 0.719);
}

.box1 {
    height: 610px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(166, 236, 245);
    background-image: url();
    border: 1px solid;
}

li {
    list-style: none;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    text-align: left;
}

.empBox {
    float: left;
}

marquee {
    font: 20px bold;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

.empDetails {
    height: 263px;
    width: 350px;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}