<section class="loginBlock">
    <ul>
        <li>
            <input type="text" placeholder="Enter User Id" class="form-control" id="userId">
        </li>
        <li>
            <input type="text" placeholder="Enter Mail Id" class="form-control" id="userMailId">
        </li>                    
        <li>
            <input type="button" id="login" class="btn btn-primary" value="Send Mail" onclick="">
            <input type="button" id="login" class="btn btn-primary" value="<< Back to login" onclick="loadPage('login');">      
        </li>
    </ul>
</section>