<section class="loginBlock">
    <ul>
        <li>
            <input type="text" placeholder="Enter User Id" class="form-control" id="userId">
        </li>
        <li>
            <input type="password" placeholder="Account Password" class="form-control" id="userPwd">
        </li>
        <li> <input type="checkbox" id="checkBox" title="click here to remember you login details" checked>Remember login details
        </li>

        <li>
            <input type="button" class="btn btn-primary" value="Login" onclick="validateUserDetails()">
            <input type="button" class="btn btn-primary" value="Forgot Password" onclick="loadPage('fgpwd');">
            <input type="button" class="btn btn-primary" value="NewSignup">
        </li>
        <li class="loginError"></li>
    </ul>
</section>