<section class="loginBlock">
    <ul>
        <li>
            <input type="text" placeholder="Create New User Id" class="form-control" id="userId">
        </li>
        <li>
            <input type="password" placeholder="Create New Password" class="form-control" id="userPwd">
        </li>
        <li>
            <input type="password" placeholder="Enter New Password Again" class="form-control" id="userPwd">
        </li>
        <li>
            <input type="email" placeholder="Enter Email Id" class="form-control" id="userEmail">
        </li>
        <li>
            <in<put type="number" placeholder="Enter Phone Number" class="form-control" id="userNumber">
        </li>
        <li>
            <input type="button" id="login" class="btn btn-primary" value="Create New Account" onclick="validateUserDetails()">
            <input type="button" id="fPsw" class="btn btn-primary" value="<< BAck to login Page" onclick="loadPage('login');">

        </li>
    </ul>
</section>