    ul {
        /*border: 2px solid;*/
        margin: 200px auto;
        width: 500px;
        /* background-color: blanchedalmond; */
        border-radius: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
    
    li {
        list-style: none;
        border: 1px solid white;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: white 1px 1px 14px;
        color: white;
        background-color: #0000006b;
    }
    
    .button {
        background-color: yellow;
        border-radius: 5px;
    }
    
    .showBox {
        width: auto;
        height: 25px;
    }
    
    .spPos {
        position: relative;
        top: 1 px;
        width: 185px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        color: black;
    }
    
    .checkPos {
        position: relative;
        left: 188px;
        top: -42px;
    }
    
    .error {
        color: red;
        font-size: 14px;
        margin-top: -22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        background-color: white;
    }
    
    .highlight {
        background-color: rgba(255, 255, 0, 0.568);
    }
    
    div {
        margin: 10px;
    }
    
    .box {
        top: 50px;
    }
    
    body {
        background-image: url(https://images6.alphacoders.com/590/thumb-1920-590933.jpg);
    }
    
    .tickpos {
        position: relative;
        top: -29px;
        left: 435px;
    }
    
    .button {
        position: relative;
        top: 3px;
        left: 335px;
        width: 125px;
        height: 40px;
        border-radius: 7px;
    }
    
    .resultpos {
        position: relative;
        top: 0px;
        left: 0px;
    }