header,
.box1,
marquee {
    position: absolute;
    left: 10px;
    right: 10px;
    margin: 10px;
}

header {
    top: 10px;
    border: 2px solid;
    text-align: center;
    padding: 10px;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgba(255, 82, 82, 0.719);
}

marquee {
    top: 130px;
    font: 20px bold;
    color: rgb(42, 116, 165);
    font-family: 'Times New Roman', Times, serif;
}

.box1 {
    top: 170px;
    background-color: rgb(242, 251, 223);
    border: 1px solid;
    padding: 10px;
    bottom: 10px;
}

ul {
    border: 1px solid;
    margin: 60px 250px;
    padding: 10px;
    width: 350px;
    font-size: 25px;
    background-color: rgb(199, 245, 245);
}

#table {
    position: absolute;
    right: 210px;
    top: 62px;
}

#addButton {
    position: relative;
    left: 256px;
}

.saveBtn {
    position: relative;
    left: 256px;
}

#edit,
#delete {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}

li {
    list-style: none;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}


/* #cPick:hover {
    border: rgb(255, 246, 246) 3px solid;
    background-color: rgb(247, 139, 139);
    border-radius: 10px;
    font-weight: bold;
} */

error {
    display: inline-block;
    color: red;
    font-size: 15px;
}

#editBtn,
#deleteBtn {
    padding: 5px;
    margin: 5px;
}

th {
    background-color: rgb(255, 207, 161);
}

td {
    background-color: antiquewhite;
}